body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  color: #333;
}

main h2 {
  color: #2d3af6 !important;
}

ul.list-unstyled li,
.list-group-item {
  font-size: 1.1rem;
}

/* Imagen de perfil */
header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Botón "Descargar CV" */
header .btn {
  margin-top: 10px;
}

/* Estilo para los proyectos */
.card {
  transition: transform 0.3s ease, filter 0.3s ease;
  margin-bottom: 20px;
}

/* Efecto de hover para las tarjetas */
.card:hover {
  transform: translateY(
    -10px
  ); /* Resalta el proyecto moviéndolo ligeramente hacia arriba */
  filter: brightness(
    1
  ); /* Elimina el filtro de brillo cuando el mouse está encima */
}

/* Estado inicial de las imágenes, con un filtro gris claro */
.card img {
  filter: grayscale(70%) brightness(70%); /* Imagen en escala de grises y un poco más oscura */
  transition: filter 0.3s ease; /* Transición suave para el cambio de filtro */
}

/* Cuando se pone el mouse sobre la tarjeta, la imagen se muestra en su color original */
.card:hover img {
  filter: grayscale(0%) brightness(100%); /* Imágen en su color original */
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
}

footer .btn {
  margin: 5px;
}

/* Responsividad */
@media (max-width: 768px) {
  header img {
    width: 20px;
    height: 20px;
  }
  .list-group-item {
    font-size: 1rem;
  }
  .card-img-top {
    height: 150px;
  }
}
